@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

:root {
	font-family: "Roboto", sans-serif;
	a {
		text-decoration: none;
		color: inherit;
	}
	.btn {
		border-radius: 3px;
		padding: 10px 15px;
		display: flex;
		align-items: center;
	}
	.btn-primary {
		background-color: #08f;
		color: white;
	}
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

#root {
	display: flex;
	flex-direction: column;
}

header {
	color: white;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10vw;
	z-index: 10;
	h1 {
		a {
		}
	}
	nav {
		ul {
			list-style: none;
			li {
				a {
				}
			}
		}
	}
}

main {
	margin-top: -10vh;
	section {
		height: 100vh;
		&:first-child {
			background-image: url("https://images.pexels.com/photos/3337210/pexels-photo-3337210.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
			background-size: 110%;
			background-repeat: no-repeat;
		}
	}
}

// -----------------

main {
	section.jumbotron.jumbotron-fluid {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.jumbotron-title,
		.jumbotron-blurb,
		.jumbotron-h1 {
			color: white;
		}
		.jumbotron-title {
			font-size: 3.6rem;
		}
		.jumbotron-blurb {
			font-size: 1.5rem;
			font-weight: 200;
			line-height: 2.5rem;
			margin: 20px 0;
		}
		.jumbotron-h1 {
			font-size: 1.8rem;
		}
		
		.content {
			padding: 20px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: stretch;
			width: 100%;
			// background: #000;
			& .left,
			& .right {
				width: 40vw;
			}
			.left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				// align-items: flex-end;
				// align-items: flex-start;
				p {
					// max-width: 30vw;
				}
			}
			.separator {
				height: 100%;
				width: 1px;
				background: white;
				margin: 10px;
			}
			.right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				// align-items: flex-end;
				h3 {
					margin: 10px 0;
					font-weight: normal;
				}
				ul {
					list-style: none;
					li {
						a {
							color: inherit;
						}
					}
				}
			}
		}
	}
}

main section {
	height: 100vh;
	&#contact-me {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

// -----------------

main .jumbotron.jumbotron-fluid .right ul li a .card {
	border-radius: 3px;
	border: 1px solid #eeeeee;
	background-color: white;
	color: black;
	width: 300px;
	// display: flex;
	// flex-direction: column;
	img {
		width: 300px;
	}
	h1 {
		margin: 10px 0 5px 10px;
		font-size: 18px;
	}
	p {
		margin: 5px 0 10px 10px;
		font-size: 14px;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #eee;
	color: #212121;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& > * {
		margin: 10px;
	}
	input {
		border: none;
		background-color: #f5f5f5;
		box-shadow: 0 2px 10px 0 #00000020;
		padding: 10px;
	}
}

.--anim-disappear {
	animation: disappear 300ms ease-in-out forwards;
}

@keyframes disappear {
	to {
		opacity: 0;
		transform: scale(0);
	}
}
